<a href="https://colab.research.google.com/github/bdebelle/FFpy/blob/master/ChapterFive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# String Methods
our_string = 'this is our string'
our_string.split(' ')


our_result = our_string.split(' ')

['this', 'is', 'our', 'string']

In [ ]:
my_address ='1234 Null Rd, Sometown, California, 99999'
print(my_address.split(','))

['1234 Null Rd', ' Sometown', ' California', ' 99999']

In [ ]:
value_one = 'this'
value_two = 'is'

our_string = '{} is a formatted string'.format(value_one)
our_string = '{0} {1} a formatted string'.format(value_one, value_two)
our_string = '{one} {two} a formatted string'.format(one=value_one, two=value_two)

print(our_string)

this is a formatted string

In [ ]:
#Dictionary Methods
player = {
 'name': 'Michael Thomas',
 'catches': 120
}

yds = player.get('yds', 0)
catches = player.get('catches', 0)

print(catches)
#yds is not in player so we get default value 0 back
print(yds)



# items uses 2 placeholder values 
# Use string formating to format data
for k, v in player.items():
  print('{0}: {1}'.format(k, v))

120
0
name: Michael Thomas
catches: 120

In [ ]:
#List Methods
#List Comprehension
#Range


our_list = [] # initiate empty list
for i in range(0, 10): # for each thing in the range 0 to 10
  our_list.append(i) #add the value to as an item to our list
  
our_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#simplied version of above using list comprehension
our_list = [i for i in range(0, 11)]
our_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
players = [{
    'name': 'Julio Jones',
    'catches': 100,
    'yds': 1000,
    'td': 12
}, {
    'name': 'Deandre Hopkins',
    'catches': 120,
    'yds': 1230,
    'td': 13
}]

fantasy_points = []
for player in players:
  points_scored = player.get('catches', 0) + player.get('yds')*0.1 + player.get('td')*6
  fantasy_points.append(points_scored)

sum(fantasy_points)/len(fantasy_points)



# SAME CODE USING LIST COMPREHENSION

players = [{
    'name': 'Julio Jones',
    'catches': 100,
    'yds': 1000,
    'td': 12
}, {
    'name': 'Deandre Hopkins',
    'catches': 120,
    'yds': 1230,
    'td': 13
}]

def calc_fantasy_points(player):
  return player.get('catches', 0) + player.get('yds', 0)*0.1 + player.get('td', 0)*6

fantasy_points = [calc_fantasy_points(player) for player in players]
sum(fantasy_points)/len(fantasy_points)

296.5

In [ ]:
# #Anonymous Functions, Lambda, and Map
catches = [10, 15, 34, 23]

def divide_by_two(x):
  return x/2
# #map is 'mapping' over a list and running a function 
# # on that list. 
half_ppr_values = map(divide_by_two, catches)
# #We need to convert it back to a list in order to read it
half_ppr_values = list(half_ppr_values)

# half_ppr_values

[5.0, 7.5, 17.0, 11.5]

In [ ]:
#Same thing with list comprehension
catches = [10, 15, 34, 23]

def divide_by_two(x):
  return x/2


half_ppr_values = [divide_by_two(x) for x in catches]

print(half_ppr_values)

[5.0, 7.5, 17.0, 11.5]

In [ ]:
#Lambda Function

catches = [10, 15, 34, 23]

#lambda argument: return_value
half_ppr_values = map(lambda x: x/2, catches)
half_ppr_values = list(half_ppr_values)

In [ ]:
#While Loops
i = 0
while i < 6:
  print(i)
  i = i + 1

0
1
2
3
4
5

In [ ]:
#Module 4: Python Crash Course Recap (Section 5 of the Course)
stats = {
    'Jameis Winston': {
        'passing_yds': [194, 208, 380, 385, 204, 400, 301, 335, 358, 313, 313, 268, 456, 458, 335, 201],
        'passing_td': [1, 1, 3, 4, 2, 1, 2, 2, 1, 2, 3, 0, 4, 4, 1, 2],
        'passing_int': [3, 0, 1, 1, 0, 5, 2, 0, 2, 4, 2, 0, 3, 1, 4, 2]
    },
    'Tom Brady': {
        'passing_yds': [341, 264, 306, 150, 348, 334, 249, 259, 285, 216, 190, 326, 169, 128, 271, 221],
        'passing_td': [3, 2, 2, 0, 3, 0, 1, 2, 1, 0, 1, 3, 1, 2, 1, 2],
        'passing_int': [0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1]
    }
}


zipped_jameis_fantasy_points = zip(
    stats['Jameis Winston']['passing_yds'], 
    stats['Jameis Winston']['passing_td'], 
    stats['Jameis Winston']['passing_int']
)

zipped_tom_fantasy_points = zip(
    stats['Tom Brady']['passing_yds'],
    stats['Tom Brady']['passing_td'],
    stats['Tom Brady']['passing_int']
)

jameis_fantasy_points = [yds/25 + td*6 - inter*-2 for yds, td , inter in
                             zipped_jameis_fantasy_points]



tom_fantasy_points = [yds/25 + td*6 - inter*-2 for yds, td , inter in
                             zipped_tom_fantasy_points]


def stand_dev(data_set):
  avg = sum(data_set)/len(data_set)
  variance = sum([((x - avg) ** 2) for x in data_set]) / len(data_set)
  result = variance ** 0.5
  
  return result


print(
    'Jameis Winston\'s Mean Fantasy Output:', sum(jameis_fantasy_points)/len(jameis_fantasy_points), 
    '\nJameis Winston\'s Standard Deviation for Fantasy Output:', stand_dev(jameis_fantasy_points)
)


print(
    'Tom Brady\'s Mean Fantasy Output:', sum(tom_fantasy_points)/len(tom_fantasy_points), 
    '\nTom Brady\'s Standard Deviation for Fantasy Output:', stand_dev(tom_fantasy_points)
)

Jameis Winston's Mean Fantasy Output: 28.8975
Jameis Winston's Standard Deviation for Fantasy Output: 10.07751922598017
Tom Brady's Mean Fantasy Output: 20.1425
Tom Brady's Standard Deviation for Fantasy Output: 7.594971609558525

In [ ]:


x = [12, 450, 45, 23, 12, 34]
y = [12, 345, 12, 5, 6, 11]

mean = lambda arg: sum(arg) / len(arg)

def correlation(x,y):

  x_avg, y_avg = mean(x), mean(y)

  x_minus_avg = [x - x_avg for x in x]
  y_minus_avg = [y - y_avg for y in y]

  numerator = sum(
      [x*y for x, y in zip(x_minus_avg, y_minus_avg)]
  )

  x_minus_mu_squared = [x**2 for x in x_minus_avg]

  y_minus_mu_squared = [y**2 for y in y_minus_avg]

  denom = (sum(x_minus_mu_squared)*sum(y_minus_mu_squared))**(0.5)

  return numerator/denom

print(correlation(x, y))

0.9977468069833735

In [1]:
#euclidian distance
(1.0, 450)
(5.0, 340)

def euclidian(a,b):
    val = sum(
        [(ai - bi)**2 for ai, bi in zip(a, b)]
        )**(1/2)

    return val

val = euclidian((1.0 ,450), (5,340))
print(val)


# def euclidean_dist(a, b):

#     dist = sum(
#         [(ai - bi)**2 for ai, bi in zip(a, b)]
#         )**(1/2)

#     return dist

# dist = euclidean_dist((1.0, 450), (5.0, 340))
# print(dist)

110.07270324653611

In [32]:
#


players =[
          {
        'name': 'AJ Brown',
        'position': 'WR',
        'projected': 200
    },
    {
        'name': 'Davlin Cook',
        'position': 'RB',
        'projected': 220
    },
    {
        'name': 'Tom Brady',
        'position': 'QB',
        'projected': 245
    }
]

positional_values = {
        'WR': 50,
        'RB': 32,
        'TE': 45,
        'QB': 110
        }



for player in players:

  position = player.get('position')
  projected = player.get('projected')
  pos_value = positional_values.get(position)
  value_score = projected - pos_value

  player['value_score'] = value_score



players = sorted(players, key=lambda player: player['value_score'], reverse=False)


for i, player in enumerate(players):
  rank = i + 1
  print('#{} Value Score: {} ({})'.format(rank, player.get('name'), player.get('value_score')))

#1 Value Score: Tom Brady (135)
#2 Value Score: AJ Brown (150)
#3 Value Score: Davlin Cook (188)